


.input-box{
  padding-top: 60px;
  padding-left: 60px;
  width: 800px;
  height: 500px;
  border-width: 2px;
  border-style: dotted;
  text-align: center;
}


.input-text{
  width: 700px;
  height: 400px;
  background-color: lightgray;
  text-align: center;
}

h3{
  color:gray;
  text-align: center;
}

#generate{
  width: 250px;
  background-color: red;
  height: 40px;
  align-items: center;

}